:host{
  #app-footer{
    width: 100%;
    mat-toolbar{
      height: 40px;
      position: fixed;
      bottom: 0;

      .text-description{
        color: white;
        text-align: center;
        width: 100%;
        font-weight: 400;
        font-size: 0.9rem;
      }
    }
  }
}
